<div class="modal fade" id="deleteStockTakeModal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Stock Take</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Inventory</th>
                            <th>Qty</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in stocktake.items %}
                        <tr>
                            <td>{{ item.inventory.name }}</td>
                            <td>{{ item.qty }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="2">No inventory</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form class="modal-footer" method="POST" action="{{ url_for('stocktakes.delete') }}">
            <input type="hidden" name="stock_take_id" value="{{ stocktake.id }}">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
