{% extends "layout.html" %}

{% block main %}
<div class="card mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2 class="h4">{{ title }}</h2>
            </div>
            <div class="col text-end">
                <a href="{{ url_for('stores.form') }}" class="btn btn-sm btn-info small text-white">Add Stores</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table border">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for store in stores %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ store.name }}</td>
                            <td>{{ store.description or '-' }}</td>
                            <td>{{ 'Active' if store.active else '-'}}</td>
                            <td>{{ store.created_at|format_date }}</td>
                            <td>
                                <a href="{{ url_for('stores.edit', id=store.id) }}" 
                                    class="btn btn-sm btn-info small text-white">Edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6" class="text-center">No stores</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
