{% extends "layout.html" %}

{% block main %}
<div class="card mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2 class="h4">{{ title }}</h2>
            </div>
            <div class="col text-end">
                <a href="{{ url_for('inventory.form') }}" class="btn btn-sm btn-info small text-white">Add Inventory</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table border">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Reorder Level</th>
                            <th>Min Level</th>
                            <th>Active</th>
                            <th>Created On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
